.box {
    background: blueviolet;
    border: 1px solid black;
    margin: 10px;
}

.parent {
    background: white;
    border: 1px solid black;
    width: 250px;
}

.fifty-percent {
    width: 50%;
}

.one-hundred {
    width: 100px;
}
.box2 {
    background: orange;
    border: 1px solid black;
    margin: 10px;
}

.parent2 {
    background: white;
    border: 1px solid black;
    width: 100px;
}

.fifty-percent {
    width: 50%;
}

.fifty-vw {
    width: 50vw;
}

.twenty-five-vh {
    height: 25vh;
}
.parent3 {
    background: white;
    border: 1px solid black;
    font-size: 30px;
}

.one-rem {
    font-size: 1rem;
}

.one-em {
    font-size: 1em;
}

.two-rem {
    font-size: 2rem;
}

.two-em {
    font-size: 2em;
}
div.child > p {
    background-color: pink;
}
div.general_sibling ~ p {
       background-color:burlywood;
}
div.adjacent_sibling + p{
        background-color: royalblue;
}